main{
    width: 100vw;
}
#sectionGeneral{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}
#articleDatosUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sectionGeneral article{
    margin-bottom: 5%;
}
#articleDatosUsuario a{
    text-decoration: none;
    padding: 5%;
}
#articleMenu{
    padding: 0 5%;
}
#articleDatosUsuario img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}
#articleMenu a{
    border-bottom: 2px solid #C0B9DD;
}
.items{
    display: flex;
}
.item{
    padding: 3%;
}
input[type="button"].item{
    border: none;
    border-bottom: 2px solid #99829E;
    margin: 1%;
}
.item1{
    background: none;
    font-size: 20px;
}
.item2{
    background: url("../../img/star-regular.svg");
    background-repeat: no-repeat;
    background-position: center;


}
.sectionPreg article{
    padding: 5%;
}
.tituloPreg{
    border-bottom: 2px solid #C0B9DD;
}

@media only screen and (min-width: 800px){
    main{
        display: flex;
        flex-direction: row;
    }
    .sectionPreg{
        flex: 2;
        margin-top: 150px;
    }
    #sectionGeneral{
        flex: 1;
        margin-top: 150px;
        order: 2;
        border-left: 2px solid #c0b9dd;
    }
}