*{
    font-family: Arial, Helvetica, sans-serif;
/*Hay que sustituir la fuente por la fuente final*/


}

body{
    margin: 0px;
    background-image: linear-gradient(#4e9af8, #4EC4F8);

    background-color: white;

}

#divPrincipal{
    display: flex;
    flex-direction: column;
    
}

#divSuperior{
    margin-left: 1%;
}

.divSeparador{
    height: 5px;
    border-bottom:  
    white 2px solid;
}

.divSeparadorpregunta{
    height: 5px;
    border-bottom:  
    white 1px solid;
    margin-bottom: 4px;
}

#divInferior{
    display: flex;
}

#divEnlaces{
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 5px;
    max-width: 300px;

    /*
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    */
}

button{
    background-color: #4A83F0;
    color: white;
    border: 1px solid  white;
    font-weight: bold;
}

.btEnlace{
    margin-bottom: 5px;
    height: 40px;
    border-radius: 5px;
}

.btSeleccionado{
    background-color: white;
    color: #4A83F0;
    border: 1px solid  white;
}



#divInformacion{
    display: flex;
    flex-direction: column;

    flex: 3;

    
    border-left: white 1px solid;
}

#divFiltrador{
    display: flex;

    justify-content: space-around;
    padding: 10px;
    border-bottom:  white 2px solid;
}

#divLupa{
    display: flex;
    align-items: center;
}

#divTag{
    display: flex;
    align-items: center;
}

#divPreguntas{
    display: flex;
    flex-direction: column;
}

.divPregunta{
    display: flex;
    align-items: center;

    padding: 4px;

    border-radius: 10px;
    margin:10px;


    background-color: #4A83F0;
    color: white;
    border: 1px solid  white;
}

.divPregIzq{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.labPregNickname{
    margin-bottom: 20%;
}

.imgPregPerfil{
    height: 50px;
    width: auto;
    border-radius: 100%;
}

.divPregDer{
    display: flex;
    flex-direction: column;
}

.tituloPreg{
    text-decoration: none;
    font-weight: bold;

    font-size: 20px;
}

a{
    color: white;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}

p{
    font-size: 20px;
    color: white;
}

label{
    color: white;
    font-size: 20px;
}

.lbFiltrado{
    margin-right: 5px;
}

.lbDescripcion{
    font-size: 18px;
}

#btBuscar{
    margin-left: 5px;
    height: 30px;
    width: auto;

    border-radius: 5px;
}


@media only screen and (max-width: 600px){


}